body
{
	margin:0;
}

header
{
	margin:8px;
	text-align:center;
	color:#0b5b4d;
	font-family:SF, sans-serif;
}

header nav
{
	display: flex;
	margin-bottom:50px;
}

header nav a
{
	margin:10px;
	text-decoration:none;
	font-size:0.7em;
	color:#aaa;
}

header nav a:hover
{
	color:#f40;
	transition: color 0.1s;
}

.left
{
	text-align: left;
}

.right
{
	text-align: right;
}

.flex
{
	flex:1;
}

header h1
{
	font-weight:600;
}

header h2
{
	font-weight:200;
}

header .mini
{
	font-weight:400;
	font-size:0.6em;
}

header #line
{
	width:30%;
	border: #aaa solid 1px;
	margin:auto;
}

header p
{
	font-weight:400;
	color:#444;
	max-width:500px;
	margin:auto;
	margin-top: 40px;
}
